<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yonyou.iuap.project.repository.CostitemRepository">

    <resultMap id="costitemMap" type="com.yonyou.iuap.project.entity.Costitem">
        <id property="id" column="mdm_pk" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectOnlyValidateData" resultMap="costitemMap">
        SELECT * FROM UAP65.MDM_COSTITEM WHERE code IN (SELECT code FROM UAP65.MDM_COSTITEM GROUP BY code HAVING COUNT (*) > 1) ORDER BY code
    </select>

    <select id="selectRequiredData" resultMap="costitemMap" parameterType="java.util.List">
        select
        *
        from
        UAP65.MDM_COSTITEM
        where
        <foreach collection="list" index="index" item="item" separator="or" open="(" close=")">
            ${item} is null
        </foreach>
    </select>

    <select id="selectAllData" resultMap="costitemMap" parameterType="java.util.Map">
        SELECT
        *
        FROM
            UAP65.MDM_COSTITEM
        WHERE
            similar='Y'
        <if test="searchParam !=null and searchParam !='null'.toString()">
            AND (
                code like '%${searchParam}%'
                or
                name like '%${searchParam}%'
            )
        </if>
    </select>
</mapper>
