<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yonyou.iuap.project.repository.DotRepository">

    <resultMap id="dotMap" type="com.yonyou.iuap.project.entity.Dot">
        <id property="id" column="mdm_pk" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectOnlyValidateData" resultMap="dotMap">
        SELECT * FROM UAP65.MDM_DOT 
        WHERE 
        code IN 
        (SELECT code FROM UAP65.MDM_DOT GROUP BY code HAVING COUNT (*) > 1) 
        AND name IN 
        (SELECT name FROM UAP65.MDM_DOT GROUP BY name HAVING COUNT (*) > 1) 
        ORDER BY code
    </select>

    <select id="selectRequiredData" resultMap="dotMap" parameterType="java.util.List">
        select
        *
        from
        UAP65.MDM_DOT
        where
        <foreach collection="list" index="index" item="item" separator="or" open="(" close=")">
            ${item} is null
        </foreach>
    </select>

    <select id="selectAllData" resultMap="dotMap" parameterType="java.util.Map">
        SELECT
        *
        FROM
        UAP65.MDM_DOT
        <if test="searchParam !=null and searchParam !='null'.toString()">
            WHERE
            code like '%${searchParam}%'
            or
            name like '%${searchParam}%'
        </if>
    </select>
</mapper>
