<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yonyou.iuap.project.repository.LinesRepository">
    
    <resultMap id="linesMap" type="com.yonyou.iuap.project.entity.Lines">
        <id property="id" column="mdm_pk" jdbcType="VARCHAR"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="mdm_code" column="mdm_code" jdbcType="VARCHAR"/>
        <result property="mdm_pk" column="mdm_pk" jdbcType="VARCHAR"/>
        <result property="mdm_duplicate" column="mdm_duplicate" jdbcType="VARCHAR"/>
        <result property="mdm_seal" column="mdm_seal" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <!-- <result property="sjt_code" column="sjt_code" jdbcType="VARCHAR"/> -->
        <result property="line_shortname" column="line_shortname" jdbcType="VARCHAR"/>
        <result property="line_startdistrict" column="line_startdistrict" jdbcType="VARCHAR"/>
        <result property="line_start" column="line_start" jdbcType="VARCHAR"/>
        <result property="line_endistrict" column="line_endistrict" jdbcType="VARCHAR"/>
        <result property="line_end" column="line_end" jdbcType="VARCHAR"/>
        <result property="line_stopby" column="line_stopby" jdbcType="VARCHAR"/>
        <result property="line_road" column="line_road" jdbcType="VARCHAR"/>
        <result property="line_startstop" column="line_startstop" jdbcType="VARCHAR"/>
        <result property="line_endstop" column="line_endstop" jdbcType="VARCHAR"/>
        <result property="line_midwaystop" column="line_midwaystop" jdbcType="VARCHAR"/>
        <result property="line_lasttime" column="line_lasttime" jdbcType="VARCHAR"/>
        <result property="line_distance" column="line_distance" jdbcType="VARCHAR"/>
        <result property="line_highwaykm" column="line_highwaykm" jdbcType="VARCHAR"/>
        <result property="line_roadlevel" column="line_roadlevel" jdbcType="VARCHAR"/>
        <result property="line_businesstype" column="line_businesstype" jdbcType="VARCHAR"/>
        <result property="line_level" column="line_level" jdbcType="VARCHAR"/>
        <result property="line_businessnature" column="line_businessnature" jdbcType="VARCHAR"/>
        <result property="line_area" column="line_area" jdbcType="VARCHAR"/>
        <result property="line_yueyun" column="line_yueyun" jdbcType="VARCHAR"/>
        <result property="line_institutionname" column="line_institutionname" jdbcType="VARCHAR"/>
        <result property="line_amount" column="line_amount" jdbcType="VARCHAR"/>
        <result property="line_daybus" column="line_daybus" jdbcType="VARCHAR"/>
        <result property="line_avgday_bus" column="line_avgday_bus" jdbcType="VARCHAR"/>
        <result property="line_avgday_income" column="line_avgday_income" jdbcType="VARCHAR"/>
        <result property="line_avgday_cust" column="line_avgday_cust" jdbcType="VARCHAR"/>
        <result property="line_competeway" column="line_competeway" jdbcType="VARCHAR"/>
        <result property="line_competecar" column="line_competecar" jdbcType="VARCHAR"/>
        <result property="line_carryrate" column="line_carryrate" jdbcType="VARCHAR"/>
        <result property="line_begtime" column="line_begtime" jdbcType="VARCHAR"/>
        <result property="line_endtime" column="line_endtime" jdbcType="VARCHAR"/>
        <result property="mdm_createdon" column="mdm_createdon" jdbcType="VARCHAR"/>
        <result property="mdm_modifiedon" column="mdm_modifiedon" jdbcType="VARCHAR"/>
        <result property="mdm_createdby" column="mdm_createdby" jdbcType="VARCHAR"/>
        <result property="zhky_code" column="zhky_code" jdbcType="VARCHAR"/>
        <result property="nyt_code" column="nyt_code" jdbcType="VARCHAR"/>
        <result property="rc_code" column="rc_code" jdbcType="VARCHAR"/>
        <result property="dr" column="dr" jdbcType="SMALLINT"/>
        <result property="ts" column="ts" jdbcType="TIMESTAMP"/>
    </resultMap>


    <select id="selectOnlyValidateData" resultMap="linesMap">
        SELECT
            *
        FROM
            UAP65.mdm_line
        WHERE
            code IN (
                SELECT
                    code
                FROM
                    UAP65.mdm_line
                GROUP BY
                    code
                HAVING
                    COUNT (*) > 1
            ) AND name IN (
                SELECT
                    name
                FROM
                    UAP65.mdm_line
                GROUP BY
                    name
                HAVING
                    COUNT (*) > 1
            ) AND line_institutionname IN (
                SELECT
                    line_institutionname
                FROM
                    UAP65.mdm_line
                GROUP BY
                    line_institutionname
                HAVING
                    COUNT (*) > 1
            )
        ORDER BY code
    </select>
    
    <select id="selectRequiredData" resultMap="linesMap" parameterType="java.util.List">
        select
            *
        from
          UAP65.mdm_line
        where
            <foreach collection="list" index="index" item="item" separator="or" open="(" close=")">
                ${item} is null
            </foreach>
    </select>
    
    <select id="selectAllData" resultMap="linesMap" parameterType="java.util.Map">
        SELECT
            *
        FROM
            UAP65.mdm_line
        WHERE
            SIMILAR = 'Y'
        <if test="searchParam !=null and searchParam !='null'.toString()">
            AND
            (
                code like '%${searchParam}%'
                or
                name like '%${searchParam}%'
                or
                line_institutionname like '%${searchParam}%'
            )
        </if>
    </select>
</mapper>
