<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yonyou.iuap.project.repository.MonitorRepository">

    <!-- -->
    <resultMap id="monitorMap" type="com.yonyou.iuap.project.entity.Monitor">
        <result property="system_name" column="transname" jdbcType="VARCHAR"/>
        <result property="data_type" column="data_type" jdbcType="VARCHAR"/>
        <result property="integration_mode" column="integration_mode" jdbcType="VARCHAR"/>
        <result property="integration_type" column="integration_type" jdbcType="VARCHAR"/>
        <result property="integration_strategy" column="integration_strategy" jdbcType="VARCHAR"/>
        <result property="integration_cycle" column="integration_cycle" jdbcType="VARCHAR"/>
        <result property="total_number_day" column="total_number_day" jdbcType="INTEGER"/>
        <result property="success_number_day" column="success_number_day" jdbcType="INTEGER"/>
        <result property="fail_number_day" column="fail_number_day" jdbcType="INTEGER"/>
        <result property="total_number_week" column="total_number_week" jdbcType="INTEGER"/>
        <result property="success_number_week" column="success_number_week" jdbcType="INTEGER"/>
        <result property="fail_number_week" column="fail_number_week" jdbcType="INTEGER"/>
        <result property="total_number_month" column="total_number_month" jdbcType="INTEGER"/>
        <result property="success_number_month" column="success_number_month" jdbcType="INTEGER"/>
        <result property="fail_number_month" column="fail_number_month" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap id="monitorLogMapper" type="com.yonyou.iuap.project.entity.MonitorLog">
        <result property="id" column="ID_BATCH" jdbcType="VARCHAR"/>
        <result property="channel_id" column="CHANNEL_ID" jdbcType="VARCHAR"/>
        <result property="transname" column="TRANSNAME" jdbcType="VARCHAR"/>
        <result property="sync_status" column="STATUS" jdbcType="VARCHAR"/>
        <result property="lines_read" column="LINES_READ" jdbcType="INTEGER"/>
        <result property="lines_written" column="LINES_WRITTEN" jdbcType="INTEGER"/>
        <result property="lines_updated" column="LINES_UPDATED" jdbcType="INTEGER"/>
        <result property="lines_input" column="LINES_INPUT" jdbcType="INTEGER"/>
        <result property="lines_output" column="LINES_OUTPUT" jdbcType="INTEGER"/>
        <result property="lines_rejected" column="LINES_REJECTED" jdbcType="INTEGER"/>
        <result property="errors" column="ERRORS" jdbcType="INTEGER"/>
        <result property="startdate" column="STARTDATE" jdbcType="TIMESTAMP"/>
        <result property="enddate" column="ENDDATE" jdbcType="TIMESTAMP"/>
        <result property="logdate" column="LOGDATE" jdbcType="TIMESTAMP"/>
        <result property="depdate" column="DEPDATE" jdbcType="TIMESTAMP"/>
        <result property="replaydate" column="REPLAYDATE" jdbcType="TIMESTAMP"/>
        <result property="log_field" column="LOG_FIELD" jdbcType="CLOB"/>
    </resultMap>

    <select id="selectMonitorData"  resultType="java.util.HashMap" parameterType="java.util.HashMap">
        SELECT
            t1.success_number success_number,
            t2.fail_number fail_number
        FROM
            (
                SELECT
                    COUNT (*) success_number
                FROM
                    MDM_STATION_LOG
                WHERE
                    TRANSNAME = #{data_type}
                    AND LOGDATE BETWEEN TO_DATE (
                            #{start_date},
                            'yyyy-MM-dd HH24:mi:ss'
                    )
                    AND TO_DATE (
                            #{end_date},
                            'yyyy-MM-dd HH24:mi:ss'
                    )
                    AND STATUS = 'end'
            ) t1,
            (
                SELECT
                    COUNT (*) fail_number
                FROM
                    MDM_STATION_LOG
                WHERE
                    TRANSNAME = 'station'
                    AND LOGDATE BETWEEN TO_DATE (
                            #{start_date},
                            'yyyy-MM-dd HH24:mi:ss'
                    )
                    AND TO_DATE (
                            #{end_date},
                            'yyyy-MM-dd HH24:mi:ss'
                    )
                    AND STATUS = 'stop'
            ) t2
    </select>

    <select id="selectMonitorLogData" resultMap="monitorLogMapper" parameterType="hashMap">
        SELECT
            *
        FROM
            MDM_STATION_LOG
        WHERE
            TRANSNAME = #{dataType}
            AND LOGDATE BETWEEN TO_DATE (
                #{startDate},
                'yyyy-MM-dd HH24:mi:ss'
            )
            AND TO_DATE (
                #{endDate},
                'yyyy-MM-dd HH24:mi:ss'
            )
            <if test="status!=null and status!='null'.toString()">
                AND STATUS = #{status}
            </if>

    </select>
</mapper>
