<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yonyou.iuap.project.repository.SettlementmethodRepository">

    <resultMap id="settlementmethodMap" type="com.yonyou.iuap.project.entity.Settlementmethod">
        <id property="id" column="mdm_pk" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectOnlyValidateData" resultMap="settlementmethodMap">
        SELECT * FROM UAP65.MDM_SETTLEMENTMETHOD WHERE NAME IN (SELECT NAME FROM UAP65.MDM_SETTLEMENTMETHOD GROUP BY NAME HAVING COUNT (*) > 1) ORDER BY NAME
    </select>

    <select id="selectRequiredData" resultMap="settlementmethodMap" parameterType="java.util.Map">
        select
        *
        from
        UAP65.MDM_SETTLEMENTMETHOD
        where 1=1
        <if test="requiredColumns !=null and requiredColumns.size !=0">
            AND
            <foreach collection="requiredColumns" index="index" item="item" separator="or" open="(" close=")">
                ${item} is null
            </foreach>
        </if>
        
    </select>

    <select id="selectAllData" resultMap="settlementmethodMap" parameterType="java.util.Map">
        SELECT
        *
        FROM
        UAP65.MDM_SETTLEMENTMETHOD
        WHERE
        similar='Y'

    </select>
</mapper>
