<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yonyou.iuap.project.repository.StoresRepository">

    <resultMap id="storesMap" type="com.yonyou.iuap.project.entity.Stores">
        <id property="id" column="mdm_pk" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectOnlyValidateData" resultMap="storesMap">
        SELECT * FROM UAP65.MDM_STORES WHERE code IN (SELECT code FROM UAP65.MDM_STORES GROUP BY code HAVING COUNT (*) > 1) ORDER BY code
    </select>

    <select id="selectRequiredData" resultMap="storesMap" parameterType="java.util.Map">
        select
        *
        from
        UAP65.mdm_stores
        where 1=1
        <if test="requiredColumns !=null and requiredColumns.size !=0">
            AND
            <foreach collection="requiredColumns" index="index" item="item" separator="or" open="(" close=")">
                ${item} is null
            </foreach>
        </if>
        <if test="searchParam !=null and searchParam !='null'.toString()">
            AND            
            name like '%${searchParam}%'            
        </if>
    </select>

    <select id="selectAllData" resultMap="storesMap" parameterType="java.util.Map">
        SELECT
        *
        FROM
        UAP65.MDM_STORES
        WHERE
        similar = 'Y'
  
    </select>
</mapper>
