<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yonyou.iuap.project.repository.ZhkyStationRepository">
    
    <resultMap id="zhkystationMap" type="com.yonyou.iuap.project.entity.ZhkyStation">
        <id property="id" column="mdm_pk" jdbcType="VARCHAR"/>
        <result property="mdm_code" column="mdm_code" jdbcType="VARCHAR"/>
    </resultMap>


    <select id="selectOnlyValidateData" resultMap="zhkystationMap">
        SELECT
			* 
		FROM
			UAP65.ZHKY_STATION1 
		WHERE
			MCODE IS NULL
    </select>
    
    <!-- <select id="selectRequiredData" resultMap="busMap" parameterType="java.util.List">
        select
            *
        from
          UAP65.mdm_bus
        where
            <foreach collection="list" index="index" item="item" separator="or" open="(" close=")">
                ${item} is null
            </foreach>
    </select>-->
    
    <select id="selectIneqNameData" resultMap="zhkystationMap" parameterType="java.util.Map">
        SELECT
			zhs.MCODE,
			zhs.CODE,
			zhs.NAME,
		    mds.NAME AS name1
		FROM
			UAP65.ZHKY_STATION1 zhs
			LEFT JOIN UAP65.MDM_STATION mds ON zhs.MCODE = mds.CODE 
		WHERE
			zhs.MCODE = mds.CODE AND zhs.NAME &lt;&gt; mds.NAME
    </select> 
    
    <select id="selectAllData" resultMap="zhkystationMap" parameterType="java.util.Map">
        SELECT
			zhs.MCODE,
			zhs.CODE,
			zhs.NAME,
		    mds.NAME AS name1
		FROM
			UAP65.ZHKY_STATION1 zhs
			LEFT JOIN UAP65.MDM_STATION mds ON zhs.MCODE = mds.CODE 
		WHERE
			zhs.MCODE = mds.CODE AND zhs.NAME &lt;&gt; mds.NAME
    </select>
</mapper>
