.c-panel {
    min-width: 1080px;
    width: 1080px;
    margin: auto;
}

.one-w {
    width: 100%;
}

.one-i {
    height: 160px;
    width: 20%;
    border: 1px solid #EEEEEE;
    display: block;
    float: left;
    margin: 30px 2% 10px 2%;
}

.one-i-title {
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #EEEEEE;
    background-color: #00BCD4;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
}

.one-i-data {
    width: 100%;
    height: 120px;
}

.one-i-data span {
    display: inherit;
    height: 40px;
    line-height: 40px;
    padding: 10px;
    font-size: 18px;
    text-align: center;
}

.two-w {
    width: 100%;
}

.two-i {
    height: 230px;
    width: 28%;
    border: 1px solid #EEEEEE;
    display: block;
    float: left;
    margin: 30px 2% 15px 2%;
}

.three-w {
    width: 100%;
}

.three-i {
    width: 100%;
}

.t-i-left {
    height: 230px;
    width: 60%;
    border: 1px solid #EEEEEE;
    display: block;
    float: left;
    margin: 15px 2%;
}

.t-i-right {
    height: 230px;
    width: 28%;
    border: 1px solid #EEEEEE;
    display: block;
    float: left;
    margin: 15px 2%;
}